html, body,h2{
	margin: 0;
	padding: 0;
	color: #333;
	font-family: Nanumbarunpen;
	/*font-family:nanumbarunpenr*/
}
a { display: inline-block; }
img {
	display: inline-block;
	vertical-align: top;
	margin: 0;
	padding: 0;
}

.clearfix::after {
	content: '';
	display: block;
	clear: both;
}
.wrapper {
	width: 100%;
}
.header {
	position: fixed;
	top: 0;
	left: 0px;
	padding: 30px 0 0 50px;
	width: 250px;
	height: 100%;
	z-index: 10;
	background: white;
	box-sizing: border-box;
}

.header .name {
	font-weight: bold;
}
.header .nav .nav-title {
	margin: 0;
	font-size: 25px;
}
.header .nav .nav-list {
	margin: 0;
	list-style: none;
}
.header .nav .nav-list li a {
	text-decoration: none;
	display: block;
	padding: 5px;
	font-size: 20px;
	color: #999;
}
.header .nav .nav-list li.on a,
.header .nav .nav-list li:hover a {
	color: #333;
	transition: all 0.5s;
}

.header .info {
	position: absolute;
	bottom: 30px;
	left: 0;
	width: 100%;
	text-align: center;
}

.main {
	position: relative;
	top: 0;
	left: 250px;
	width: 1100px;
}


section {
	box-sizing: border-box;
	padding: 50px 0px 150px 100px;
	border-bottom: 5px solid #eee;
}

.main .intro {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 920px;
}
.main .intro .intro-img {
	position: relative;
	top: 0;
	left: 0;
	width: 1100px;
	height: 800px;
	overflow: hidden;
	display: block;
}
.main .intro .intro-img img {
	position: absolute;
	bottom: -465px;
	left: 0px;
	width: 1100px;
}
.main .intro .intro-text {
	position: absolute;
	top: 36%;
	left: 29%;
	/*left: 0;*/
	text-align: center;
	color: white;
	font-size: 70px;
}
.main .intro .intro-text p{
	text-shadow: #555 0px 2px, #555 2px 0px, #555 -2px 0px, #555 0px -2px;

}
.main .intro .scroll {
	position: absolute;
	bottom: 40px;
	left: 50%;
	width: 160px;
	transform: rotate(90deg);
	border-bottom: 1px solid black;
}
@keyframes scrollAnimate {
	from {
		bottom : 50px;
	}
	to {
		bottom : 60px;
	}
}
.main h2 {
	font-size: 90px;
}

.main .introduce h3 {
	color: #777;
	font-size: 40px;
	font-weight: 700;
}

.main .skill .content {
	margin-top:50px;
	text-align: center;
}

.main .skill .content img {
	width: 200px;
	height: 200px;
	border-radius: 300px;
	margin-left: 56px;
	margin-top: 10px;
}
.main .portfolio .pf-title {
	margin-top: 60px;
	font-size: 30px;
	font-weight: bold;
}
.main .portfolio .img-wrap {
	width: 400px;
	height: 270px;
	overflow: hidden;
	border: 2px solid lightgray;
}

.main .portfolio .list {
	position: relative;
	list-style: none;
	padding: 0;
}
.main .portfolio .list li {
	position: relative;
	top:0;
	left: 300px;
	margin: 20px 0 ;
	padding-bottom: 20px;
	border-bottom: 3px solid #eee;
	opacity: 0;
}
.main .portfolio .list li .img-wrap {
	position: relative;
	float: left;
}
.main .portfolio .img-wrap img {
	position: absolute;
	top:0;
	width: 400px;
	transition: all 0.4s;
}
.main .portfolio ._01 li:nth-child(1) .img-wrap img,
.main .portfolio ._01 li:nth-child(3) .img-wrap img { top: 24px;}

.main .portfolio ._01 li:nth-child(1) .img-wrap:hover img { top: 0px;}
.main .portfolio ._01 li:nth-child(1) .img-wrap:hover img { top: 24px;}
.main .portfolio ._01 li:nth-child(2) .img-wrap:hover img { top: -300px;}
.main .portfolio ._01 li:nth-child(3) .img-wrap:hover img { top: 24px;}
.main .portfolio ._01 li:nth-child(4) .img-wrap:hover img { top: -700px;}
.main .portfolio ._01 li:nth-child(5) .img-wrap:hover img { top: -1000px;}

.main .portfolio ._02 li:nth-child(1) .img-wrap:hover img { top: -3px;}
.main .portfolio ._02 li:nth-child(2) .img-wrap:hover img { top: -64px;}
.main .portfolio ._02 li:nth-child(3) .img-wrap:hover img { top: -254px;}
.main .portfolio ._02 li:nth-child(4) .img-wrap:hover img { top: 0px;}
.main .portfolio ._02 li:nth-child(5) .img-wrap:hover img { top: -307px;}

.main .portfolio .img-wrap:hover img {
}
.main .portfolio .list li .text {
	float: left;
	margin: 20px 0px 0px 40px;
	width: 340px;

}
.main .portfolio .list .text .heading {
	font-size: 25px;
	font-weight: bold;
	color : rgb(119, 119, 119);
}

.main .portfolio .list .text .description {
	font-size : 18px;
	line-height: 1.6;
	color: rgb(136, 136, 136);
}



